@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

//font details
$poppins: "Poppins", sans-serif;

//width and height
$navbarHeight: 10vh;
$homeHeight: 100vh - $navbarHeight;

//colors
$dark: rgb(29, 29, 29);
$light: white;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);

//breakpoint
@mixin breakpoint($point) {
  @if $point == sm {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == xlg {
    @media (min-width: 1024px) {
      @content;
    }
  }
}
