#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(102, 161, 112);
  .right-nav {
    display: flex;
    gap: 20px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
